<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>index</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/comon0.css" />
  </head>
  <script>
    $(window).load(function () {
      $(".loading").fadeOut();
    });

    /****/
    $(document).ready(function () {
      var whei = $(window).width();
      $("html").css({ fontSize: whei / 20 });
      $(window).resize(function () {
        var whei = $(window).width();
        $("html").css({ fontSize: whei / 20 });
      });
    });
  </script>
  <script type="text/javascript" src="../static/js/echarts.min.js"></script>
  <script type="text/javascript" src="../static/js/china.js"></script>
  <script type="text/javascript" src="../static/js/chroma.min.js"></script>
  <script type="text/javascript" src="../static/js/echarts.js"></script>
  <body>
    <div class="canvas" style="opacity: 0.2">
      <iframe
        frameborder="0"
        src="../static/js/index.html"
        style="width: 100%; height: 100%"
      ></iframe>
    </div>
    <div class="loading">
      <div class="loadbox">
        <img src="../static/picture/loading.gif" /> 页面加载中...
      </div>
    </div>
    <div class="head">
      <h1>空间利用率情况展示</h1>
      <div class="weather">
        <!--        <img src="picture/weather.png"><span>多云转小雨</span>-->
        <span id="showTime"></span>
      </div>

      <script>
        startClock()
      </script>
    </div>
    <div class="mainbox">
      <ul class="clearfix">
        <li>
          <div class="map">
            <div class="map1"><img src="../static/picture/lbx.png" /></div>
            <div class="map2"><img src="../static/picture/jt.png" /></div>
            <div class="map3"><img src="../static/picture/map.png" /></div>
          </div>
        </li>
        <li>
          <div class="piechart">
            <div class="alltitle">当前图书馆在馆人数情况</div>
            <div class="allnav" id="fb1"></div>
            <div class="boxfoot"></div>
            <div class="boxfoot"></div>
          </div>
        </li>
        <li>
          <div class="barchart">
            <div class="alltitle">图书馆各学院在馆人数TOP10</div>
            <div class="allnav" id="fb2"></div>
            <div class="boxfoot"></div>
            <div class="boxfoot"></div>
          </div>
        </li>
        <li>
          <div class="linechart">
            <div class="alltitle">近期一周入馆人流量变化情况</div>
            <div class="allnav" id="echart4"></div>
            <div class="boxfoot"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="back"></div>
    <!--echarts3_1-->
    <script>
      echarts31()
      setInterval(updateChart31, 60000); // 每60秒更新一次数据
    </script>
    <!-- echart3_2 -->
    <script>
      echarts32() 
      setInterval(updateChart32, 60000); // 每60秒更新一次数据
    </script>
    <!--echarts4-->
    <script>
      echarts4()
      setInterval(updateChart4, 60000); // 每60秒更新一次数据
    </script>
  </body>
</html>
